#empTable{
    min-width: 100%;
}
#empTable tr:nth-child(even){
    background-color: #B3DBE9;
}
#empTable tr:nth-child(odd){
    background-color: #EEF7FA;
}
#empTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0572d9;;
    color: white;
    border-right: thin solid white;
    font-weight: 550;
    min-width: 20%;
}
#empTable td{
    padding: 1%;
    min-width: 20%;
    border: thin solid lightgray; 
    text-align: center;
}
.name-column{
    text-align: center;
}
.empDetail{
    display: inline-flex;
    width: 109px;
}
.empValue{
    margin-left: 23%;

}
.emp-list{
    margin-left: 40%;
    margin-top: 6%;
    width: 100%;
}
.header-text{
    font-size: 26px;
    text-align: center;
    font-weight: 550;
}
.emp-details{
    position: absolute;
    top: 20%;
    left: 22%;
}
.edit-button{
    width: 98%;
    background-color: #508cbf;
    color: white;
    border: none;
    padding: 3px 0px;
    border-radius: 4px;
}
.delete-button{
    width: 98%;
    background-color: #882f2f;
    color: white;
    border: none;
    padding: 3px 0px;
    border-radius: 4px;
}
.submit-button{
    width: 128%;
    background-color: #508cbf;
    color: white;
    border: none;
    padding: 6px 0px;
    border-radius: 4px;
    font-size: 15px;
}