<div *ngIf="empList" class="emp-list">
    <div class="header-text">Employees List</div>
    <br />
    <table id="empTable" style="border-collapse: separate; border-spacing: 0px 0px; width: 80%;">
      <tr>
        <th>Employee Name</th>
        <th>D.O.B</th>
        <th>Salary</th>
        <th>Skills</th>
        <th style="width: 25%; padding: 1%;">Modify</th>
      </tr>
      <tr *ngFor="let emp of employeeList | paginate: { itemsPerPage: 4, currentPage: p }">
        <td class="name-column"><u>{{emp.name}}</u></td>
        <td>{{emp.dob}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.skills}}</td>
        <td style="width: 25%; padding: 1%;">
          <button class="edit-button" (click)="editEmployee(emp.name)">Edit</button> <br /><br />
          <button class="delete-button" (click)="deleteEmployee(emp.name)">Delete</button>

        </td>

      </tr>
      <!-- <div style="float: right; margin-right: -147%;"> -->
      <div style="width: 171%;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </table>
  </div>
  <div *ngIf="empDetails" class="emp-details">
    <div style="font-size: 25px;">Update Employee Details</div>
    <br />
    <div style="display: grid;">
      <div class="empDetail">
        <div>Name</div>
        <div  class="empValue"><input [(ngModel)]="empName" name="empName" type="text" value="{{employee.name}}" disabled></div>
      </div>
      <br />

      <div class="empDetail">
        <div>D.O.B</div>
        <div class="empValue"><input [(ngModel)]="dob" name="dob" type="text" value="{{employee.dob}}"></div>
      </div>
      <br />

      <div class="empDetail">
        <div>Salary</div>
        <div class="empValue"><input [(ngModel)]="salary" name="salary" type="text" value="{{employee.salary}}"></div>
      </div>
      <br />

      <div class="empDetail">
        <div>Skills</div>
        <div class="empValue"><input [(ngModel)]="skills" name="skills" type="text" value="{{employee.skills}}"></div>
      </div>
      <br />

      <input class="submit-button" (click)="editEmployeeDetail()" type="submit" value="Submit">
      <br />
    </div>
  </div>