<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="heading">
  <h1>
  {{ title }}
  </h1>
</div>
<div class="parent">
  <div class="nav-drawer">
    <!-- <h2>Here are some links to help you start: </h2> -->
    <ul>
      <li>
        <h2><a rel="noopener" routerLink="/addEmployeed" routerLinkActive="active">Add Employee</a></h2>
      </li>
      <li>
        <h2><a rel="noopener" routerLink="/getEmployeed" routerLinkActive="active">Get Employees</a>
        </h2>
      </li>
    </ul>
    <!-- <button (click)="fun()" routerLink="/getEmployeed" routerLinkActive="active">Press Me</button> -->
  </div>
  <div>
    <div *ngIf="home" id="home">Welcome</div>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Routed components go here -->