.add-comp{
    margin-top: 2%;
    margin-left: 24%;
    width: 100%;
    position: absolute;
}

.form-label{
    font-size: 17px;
    font-weight: 600;
}

.submit-button{
    width: 24%;
    background-color: #508cbf;
    color: white;
    border: none;
    padding: 8px 0px;
    border-radius: 4px;
    font-size: 15px;
}